.text-big{
    font-size: 3em;
}
.round{
    border-radius: 20px;
    color: #f8f9fa;
}
.admin-left-menu a {
    padding: 20px 20px !important;
    font-size: 1.3em;
    transition: background-color .3s;
}
.admin-left-menu a:hover{
    background: #82898f;
}
.admin-left-menu a i{
    margin-right: 10px;
}
.admin-left-menu .nav-item{
    border-bottom: 1px var(--gray) solid;
}
