@import "shop.css";
@import "partial/messenger.css";

/* Caractéristiques */
.caracteristiques {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.caracteristiques .car {
    box-shadow: 0 0 5px lightgray;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}
.caracteristiques .car h5, .caracteristiques .car p {
    margin: 1px;
    padding: 0;
}
.caracteristiques .car p{
    color: #005cbf;
}

/* prix */
.price{
    font-size: 2.5em;
    position: relative;
}
.price sup{
    position: relative;
    color: #28a745;
    font-size: 1rem;
    top: -15px;
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
    font-weight: bold;
}

/* order box */
.order-box {
    justify-content: space-between;
}

/* counter */
.counter > div {
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.counter > div:nth-child(2) {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.counter > div:nth-child(1) {
    border-radius: 5px 0 0 5px;
}
.counter > div:last-child {
    border-radius: 0 5px 5px 0;
}

/* bot messenger */
.bot-messenger {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #005cbf;
    font-size: 2rem;
    border: 0;
    box-shadow: 0 0 10px gray;
    color: #fff;
    text-align: center;
    transition: all .3s;
    z-index: 2;
}

#art-info-box{
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
