.messenger {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -480px;
    max-width: 480px;
    width: 100%;
    background-color: var(--light);
    z-index: 10001;
    box-shadow: 20px 0 50px rgba(0,0,0,.5);
    opacity: 0;
    transition: .7s cubic-bezier(.5,0,.1,.9);
}
.messenger .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px 5px;
    position: absolute;
    top: 0;

}
.top .profile{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--primary);
}
.top .profile img{
    width: 100%;
}

.messenger .body{
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 60px;
    padding: 20px 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overscroll-behavior-y: auto;
}
.body::-webkit-scrollbar{
    display: none;
}
.body .msg{
    display: flex;
    transition: all .5s ease-in-out;
}
.body .msg p {
    padding: 10px;
    max-width: 90%;
    font-size: .8em;
    color: #fff;
    word-wrap: break-word;
}
.msg-bot p{
    background: #AA3030;
    border-radius: 0 20px 20px 20px;
}
.msg-client{
    justify-content: flex-end;
}

.msg-client p{
    background: #3030AA;
    border-radius: 20px 20px 0 20px;
}

.messenger .bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: #fff;
}
.bottom input{
    border: none;
}
.bottom input:focus{
    outline: 0;
    border: 0;
    box-shadow: none;
}

.msg-new{
    margin-top: -150px;
    opacity: 0;
    transition: .3s cubic-bezier(1, 0, 0, 1);
}

.messenger-opened{
    opacity: 1;
    right: 0;
}